---

---

<footer class="z-50 flex w-full flex-col justify-center gap-4 text-lg lg:mb-4">
    <div
        class="flex w-full flex-row justify-center gap-10 text-center md:justify-end"
    >
        <a
            href="/privacy-policy"
            class="footer-link"
            aria-label="privacy policy">privacy policy</a
        >
        <a href="/cookie-policy" class="footer-link" aria-label="cookie policy"
            >cookie policy</a
        >
    </div>
    <div class="divider"></div>
    <div
        class="w-full text-center text-[16px] leading-10 tracking-[0.3em] uppercase"
    >
        <span>all rights reserved by CHERIO<br />2023</span>
    </div>
</footer>
