---
const socials = [
    {
        name: 'Facebook',
        url: 'https://facebook.com/',
        icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="currentColor" class="w-4 h-4"><path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4.4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/></svg>`,
    },
    {
        name: 'LinkedIn',
        url: 'https://linkedin.com/',
        icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor" class="w-4 h-4"><path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.83-48.3 93.97 0 111.23 61.9 111.23 142.3V448z"/></svg>`,
    },
];
---

<div
    class="fixed top-15 left-5 z-40 hidden h-[calc(100vh-60px)] flex-col items-center justify-center gap-8 md:flex"
>
    <hr class="w-4 rotate-90" />
    {
        socials.map((item) => (
            <a
                href={item.url}
                target="_blank"
                rel="noreferrer"
                aria-label={item.name}
                class="bg-surface-light flex h-9 w-9 items-center justify-center rounded-full transition-all duration-200 hover:scale-150"
            >
                <Fragment set:html={item.icon} />
            </a>
        ))
    }
    <hr class="w-4 rotate-90" />
</div>
